/*
CSS for BYODEAL
*/


/*
Links
*/


/*
Positioning
*/

#signin {
	position: absolute;
}

#signin {
	top: 65px;
	right: 25px;
}

#user_submissions {	
	padding-top:  1em;
}

/*
Tables
*/

table.links {
	border-collapse: collapse;
}

.link_title {
	font-size: 10pt;
}

.link_domain {
	font-size: 8pt;
}

.link_info {
	font-size: 7pt;
}
