/*
CSS for BYODEAL
*/


/*
Links
*/


/*
Positioning
*/

#signin {
	position: absolute;
}

#signin {
	top: 65px;
	right: 25px;
}

#user_submissions {	
	padding-top:  1em;
}

/*
Tables
*/

table.links {
	border-collapse: collapse;
}

.link_title {
	font-size: 10pt;
}

.link_domain {
	font-size: 8pt;
}

.link_info {
	font-size: 7pt;
}

.index_number {
	padding-right: .25em;
}

.vote_arrow {
	padding-right: .25em;
}

/*
Arrows
*/

a.up_arrow {
	display: block;
	text-indent: -999em;
	width: 14px;
	height: 13.5px;
	background: transparent url(/images/icons/arrow_up_sprite.png) no-repeat center top;
}

a.up_arrow.selected {
	background-position: center bottom;
}

a.down_arrow {
	display: block;
	text-indent: -999em;
	width: 14px;
	height: 14px;
	background: transparent url(/images/icons/arrow_down_sprite.png) no-repeat center top;
}

a.down_arrow.selected {
	background-position: center bottom;
}

