<h1>All deals</h1>

<% @links.each do |link| %>
  <li>
    <%= link_to link.description, link.url %>
		Posted by <%= link_to link.user.username, link.user %>
		<%= time_ago_in_words(link.created_at) %> ago.
		<%= link_to 'Vote up', vote_up_link_path(link), :method => :post, :remote => true %>
  </li>
<% end %>