<footer id="colophon">
	<div class="footer-upper container">
		<div class="one-third column">
			<h3>b&middot;y&middot;o&middot;deal</h3>
			<ol>
				<li>A community of travel lovers sharing travel deals.</li>
			</ol>				
		</div>
		
		<div class="one-third column">
			<h3>Get to know us</h3>
			<div class="three columns alpha">
				<%= link_to "About", about_path %>
			</div>
		</div>
	</div>
	
	<div id="footer-base">
		<div class="container">
			<div class="eight columns">
				&copy; byodeal 2012
			</div>
			<div class="eight columns far-edge">
				Made in Philly.
			</div>
		</div>
	</div>
</footer>